$white: #ffffff;

.TableContainer {
  position: relative;

  $table-name__height: 65px;
  $header__background-color: #032873;
  $row-dim__width: 25rem;
  $col-title-text__color: #b3bed5;
  $font-weight-heavy: 700;

  .TableName {
    background-color: #02205c;
    display: flex;
    height: $table-name__height;
    justify-content: space-between;
    padding: 1rem 1.5rem;

    > h1 {
      color: #ffffff;
      text-align: left;
      text-transform: uppercase;
    }
  }

  .Table {
    display: flex;
    width: 100%;

    .TableRowKeys {
      box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, .25);
      width: $row-dim__width;
      grid-template-rows: 50px calc(100% - 100px) 50px;
      grid-template-areas:
        "row-header"
        "row-keys"
        "row-total";
      z-index: 10;

      .TableBody {
        grid-area: row-keys;
    
        .TableColumnTitleGroup > .Cell {
          background-color: $header__background-color;
        }
      }
    }

    .TableColumnTitle {
      color: $col-title-text__color;
    }

    .TableRowKeyTitle > .Cell:first-of-type span {
      font-weight: $font-weight-heavy;

      &::before {
        background-color: #0C66BF;
        border-radius: 3px;
        content: '—';
        color: white;
        display: inline-block;
        font-size: .75rem;
        height: 1rem;
        width: 1rem;
        margin-right: .5rem;
        padding: .125rem;
        text-align: center;
        vertical-align: text-bottom;
      }
    }

    .TableHeader {
      grid-area: row-header;

      .TableTitle {
        color: $white;
        text-align: left;
        white-space: nowrap;
      }

      .Cell {
        background-color: #022467;
      }
    }

    .TableRowFinalResult {
      grid-area: row-total;

      > span {
        color: $white;
      }
    }

    .TableColumns {
      text-align: right;
      width: calc(100% - #{$row-dim__width});
      display: grid;
      grid-template-rows: 51px calc(100% - 51px);
      grid-template-areas: 
        "column-header"
        "column-metrics";

      .TableHeader {
        grid-area: column-header;
        position: absolute;
        width: inherit;

        .TableTitle {
          text-align: center;
        }
      }

      .TableBody {
        display: flex;
        grid-area: column-metrics;
    
        .Cell {
          text-align: right;
    
          &:first-of-type {
            background-color: $header__background-color;
          }
        }
      }
    }
  }

  .Cell {
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;

    span {
      white-space: nowrap;
    }

    &:not(.noPadding) {
      padding: 1rem 1.5rem;
    }

    &.CellGroup {
      display: flex;
      padding: 0;
      width: 100%;

      > .Cell {
        width: 50%;
      }
    }
  }
}

.isScrollable {
  overflow-x: auto;
}
